// INTER TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
$inter-100: 100;
$inter-200: 200;
$inter-300: 300;
$inter-400: 400;
$inter-500: 500;
$inter-600: 600;
$inter-700: 700;
$inter-800: 800;
$inter-900: 900;
