// Primary COLOR
$primary-base: #6A3EA1;
$primary-dark: #3A2258;
$primary-light: #EFE9F7;
$primary-background: #FAF8FC;
// Secondary COLOR
$secondary-base: #c1da38;
$secondary-dark: #4e5511;
$secondary-light: #feffa7;
// Netural COLOR
$netural-black: #180E25;
$netural-dark_grey: #827D89;
$netural-base_grey: #C8C5CB;
$netural-light_grey: #EFEEF0;
$netural-white: #ffffff;
// Success COLOR
$success-base: #60D889;
$success-dark: #1F7F40;
$success-light: #DAF6E4;
// Error COLOR
$error-base: #CE3A54;
$error-dark: #5A1623;
$error-light: #F7DEE3;
// Warning COLOR
$warning-base: #F8C715;
$warning-dark: #725A03;
$warning-light: #FDEBAB;
