.header {
}
.header-box {
  @include flex;
  padding: 1rem;
  margin-bottom: -.2rem;

  &__logo{
    @include flex;
  }
  &__logo img {
    object-fit: contain;
    width: 3.8rem;
    
    &__logo a span{
        font-size: 1.6rem;
    }
  }
  &__nav {
    border: 0.1rem solid rgba(255, 255, 255, 0.15);
    width: auto;
    border-radius: 2rem;
    backdrop-filter: blur(0.2rem) saturate(180%);
  }
}
.header__nav {
}
.header__links {
  display: flex;
  align-items: center;
  gap: 7rem;
  // margin: 1rem 0;
  padding: 0;
  
  &--link a{
      font-size: 1.6rem;
    }
    &--link:first-child {
        margin-left: 3rem;
    }
    &--link:last-child {
        margin-right: 3rem;
    }
    
    &--link a:hover {
        transition: all 0.2s;
        color: #ffffff;
    }
}
.header-box__registration{
    @include flex;
    gap: 2rem;
    &-wrapper{
        border: 0.1rem solid rgba(255, 255, 255, 0.15);
        border-radius: 1.5rem;
        padding: .5rem;
        
        &--btn{
            cursor: pointer;
            width: 12rem;
            padding: 1rem;
            background: rgba(140, 69, 255, 0.40);
            box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.25) inset;
            color: #ffffff;
            font-size: 1.6rem;
            
        }
    }


}
.header__line{
  width: 100vw;
  height: .1rem;
  background-color: rgba(255, 255, 255, 0.15);  
}